@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

@font-face {
    font-family: 'FREESCPT';
    src: url('../fonts/FREESCPT.woff2') format('woff2'),
        url('../fonts/FREESCPT.woff') format('woff');
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

.ibg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    img {
        display: none;
    }
}

a {
    color: black;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
}

[class*='__container'] {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


//HEADER..............................................

body {
    min-width: 320px;
    font-family: 'Open Sans', sans-serif;
}

.header {}

.header__container {
    padding: 0 15px;
}

.header-inner {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
    z-index: 2;
}

// =======================

// =======================


@media (max-width:425px) {
    .header__burger {
        display: block;
        width: 30px;
        height: 26px;
        position: relative;
        z-index: 2;

        &::before,
        &::after {
            position: absolute;
            content: '';
            background-color: #5761da;
            width: 100%;
            height: 3px;
            transition: all 0.3s ease;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        span {
            position: absolute;
            background-color: #5761da;
            left: 0;
            width: 100%;
            height: 3px;
            top: 12px;
            left: 0;
            transition: all 0.3s ease;
        }
    }

    .lock {
        overflow: hidden;
    }

    .menu {
        overflow: auto;
        background-color: #FFF;
        position: absolute;
        top: -100%;
        left: 0;
        padding: 100px 0 25px 0;
        z-index: 1;
        width: 100%;
        height: 350px;
        transition: all 0.3s ease;

        // box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.1);
        .menu-list {
            gap: 25px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .menu-link {
                color: #555555;
                font-size: 14px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                transition: all 0.3s ease;
                position: relative;

                &:hover {
                    color: #5363db;

                    &::after {
                        content: '';
                        height: 1px;
                        width: 30px;
                        background-color: #5363db;
                        position: absolute;
                        top: 30px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
        }

    }

    .menu.active {
        top: 0;
    }

    .header__burger.active {
        width: 30px;
        height: 30px;

        span {
            transform: scale(0);
        }
    }

    .header__burger.active::before {
        transform: rotate(45deg);
        top: 12px;
    }

    .header__burger.active::after {
        transform: rotate(-45deg);
        bottom: 15px;
    }
}

@media (min-width:320px) {
    .header-inner{
        justify-content: space-between;
    }
    .menu-list {
        gap: 30px;
        display: flex;
    }
}
@media (min-width:425px){
    .header__burger {
        display: none;
    }
}

@media (min-width:768px) {

    .menu-list {
        display: flex;
        gap: 30px;
    }

    .menu-link {
        color: #555555;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        transition: all 0.3s ease;
        position: relative;

        &:hover {
            color: #5363db;

            &::after {
                content: '';
                height: 1px;
                width: 30px;
                background-color: #5363db;
                position: absolute;
                top: 20px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}

@media (min-width:1024px) {
    .header__container {
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 15px;
    }
}

// ==========================================================
.trial {
    position: relative;
}

.trial__container {
    background-image: url(../img/bg-01.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    padding-top: 40px;
    max-width: 100%;
}

.trial-content-form {
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    padding: 40px 30px 35px 30px;
}

.trial-content-form-title {
    text-transform: uppercase;
    font-size: 26px;
    color: #5363db;
    font-weight: 600;
    margin-bottom: 20px;
}

.trial-content-form__body {
    display: flex;
    flex-direction: column;
}

.contacts_content_form__line {
    input {
        margin-bottom: 20px;
    }

    select {
        margin-bottom: 32px;
    }

    input,
    select {
        font-size: 14px;
        padding: 15px 10px 15px 10px;
        width: 100%;
        background-color: #f2f2f2;
        border-radius: 10px;
    }
}

.contacts_content_form__btn {
    align-self: flex-end;
}

.btn {
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    padding: 15px 65px;
    background-color: #5a6cea;
    border-radius: 15px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #7780c4;
    }
}

.trial-content {
    padding-top: 40px;
    padding-bottom: 65px;
    text-align: center;
    color: #fff;
}

.trial-content__title {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 150%;
    margin-bottom: 40px;
}

.trial-content__subtitle {
    font-family: 'FREESCPT';
    font-size: 32px;
    max-width: 220px;
    margin: 0 auto;
}

@media (min-width:768px) {
    .trial__container {
        display: flex;
        gap: 60px;
        align-items: center;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .trial-content-form {
        margin-left: 25px;
    }

    .trial-content-form {
        flex: 0 1 305px;
    }

    .trial-content__title {
        max-width: 278px;
    }

    .trial-content__title {
        text-align: left;
    }

    .trial-content__subtitle {
        margin: 0;
        text-align-last: left;
    }

    .trial__container {
        padding-bottom: 100px;

    }
}

@media (min-width:1024px) {
    .trial__container {
        justify-content: center;
        gap: 90px;
    }

    .trial-content__title {
        max-width: 485px;
        font-size: 48px;
    }

    .trial-content__subtitle {
        font-size: 40px;
        max-width: 266px;
    }
}

// ===================================================
.cards {
    margin-top: 40px;
}

.cards-title {
    text-align: center;
    text-transform: uppercase;
    line-height: 150%;
    font-size: 30px;
    color: #5b6ceb;
    font-weight: bold;
}

.cards-subtitle {
    text-align: center;
    font-family: 'FREESCPT';
    line-height: 150%;
    font-size: 41px;
    color: #777;
}

.cards__body {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.card-img_wrapper {
    img {
        width: 100%;
    }
}

.card-content {
    padding: 0 30px 0 30px;

    h3 {
        margin-top: 15px;
        font-weight: bold;
        line-height: 150%;
        font-size: 20px;
        color: #777;
        text-transform: uppercase;
    }

    p {
        margin-top: 15px;
        line-height: 150%;
        font-size: 14px;
        color: #555;
        margin-bottom: 15px;
    }
}

.subtext {
    line-height: 150%;
    font-size: 14px;
    color: #999;
    padding-bottom: 15px;
}

@media (min-width:768px) {
    .cards {
        margin-top: 100px;
    }

    .cards-subtitle {
        margin-bottom: 70px;
    }

    .cards__body {
        display: flex;
        flex-flow: row wrap;
        gap: 30px;
    }

    .card {
        flex: 1 1 45%;
        flex-direction: row;
        gap: 30px;

        .card-img_wrapper {
            flex: 1 1 46%;

            img {
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .card-content {
        padding: 0;
        flex: 1 1 54%;
    }

    @media (min-width:1024px) {
        .card-content {
            padding: 0 30px 0 0;
        }
    }
}

// =====================================================

.works {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.works__item {
    flex: 1 1 50%;
    position: relative;

    img {
        max-width: 100%;
    }

    a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(82, 98, 218, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        overflow: hidden;
        opacity: 0;
        transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;

        .works-conent {
            height: 22px;
            width: 22px;
            background-color: #fff;
            border-radius: 50%;
        }
    }

    &:hover {
        a {
            opacity: 1;
            visibility: visible;
        }
    }
}

svg {
    fill: #5363db;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width:768px) {
    .works {
        margin: 200px 0 170px 0;
    }

    .works__item {
        flex: 1 1 25%;
    }

    svg {
        fill: #5363db;
        width: 19px;
        height: 19px;
    }

    .works__item a {
        .works-conent {
            width: 42px;
            height: 42px;
            background-color: #fff;
        }
    }
}

@media (min-width:1024px) {}

//====================================================================

.about {
    margin-top: 40px;
}

.about_container {
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    margin: 0 auto;
}

.about-text {
    margin-bottom: 40px;
    padding: 0 15px;

    p {
        line-height: 150%;
        font-size: 14px;
        color: #555;
        max-width: 100%;
    }
}

.about-title {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    line-height: 150%;
    color: #5b6ceb;
}

.top-slider {
    max-width: 100%;
    margin: 0 28px;
}

.top-slider {
    img {
        max-width: 100%;
    }
}

.top-slider__item {
    position: relative;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.1);
}


.slick-arrow {
    height: 40px;
    width: 40px;
    background-color: #fff;
    border-radius: 50%;
    border: none;
    position: absolute;
    z-index: 5;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.1);

    img {
        width: 12px;
    }
}

.slick-prev {
    left: -20px;
    bottom: 50%;
    transform: translateY(50%);

}

.slick-next {
    right: -20px;
    bottom: 50%;
    transform: translateY(50%);
}

@media (min-width:768px) {
    .about {
        margin: 0 0 150px 0;
    }

    .slick-prev {
        left: -25px;
        bottom: 50%;
        transform: translateY(50%);

    }

    .slick-next {
        right: -25px;
        bottom: 50%;
        transform: translateY(50%);
    }

    .slick-arrow {
        height: 50px;
        width: 50px;
    }

    .about_container {
        display: flex;
        flex-direction: row;
        gap: 80px;
        align-items: center;
    }

    .about-text {
        flex: 1 0 39%;
    }

    .top-slider {
        width: 330px;
    }
}

@media (min-width:1024px) {

    .top-slider {
        width: 400px;
    }
}

@media (min-width:1440px) {

    .top-slider {
        width: 570px;
    }

}

//====================================================================
.health {
    margin-top: 50px;
    background-image: url(../img/bg-02.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 55px;
}

.health-cards {
    display: flex;
    flex-wrap: wrap;
}

.health-card {
    padding-top: 35px;
    flex: 1 1 100%;
    color: #fff;
    text-align: center;

    .health-card__wrapper {
        display: inline-block;
        border-radius: 100%;
        border: 1px solid white;
        padding: 10px;
        position: relative;
        width: 70px;
        height: 70px;
    }

    img {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
    }

    h3 {
        padding-top: 30px;
        line-height: 150%;
        font-weight: bold;
        font-size: 18px;
        padding-bottom: 20px;
    }

    p {
        font-size: 16px;
        line-height: 168%;
    }
}

@media (min-width:768px) {
    .health {
        margin-top: 100px;
        padding: 90px 15px 140px;
        margin-top: 100px;
    }

    .health-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    .health-card {
        flex: 1 0 21%;

        p {
            font-size: 16px;
            font-weight: 600;
        }
    }
}

@media (min-width:1024px) {
    .health {
        margin-bottom: 100px;
        padding-top: 125px;
    }

    .health-cards {
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 15px;
    }
}

//====================================================================
.price {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #fff;
    background-image: url(../img/bg-03.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.price__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.price__card {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.1);
    padding-bottom: 40px;
}

.price__card-top {
    display: flex;
    gap: 20px;
    width: 100%;
    background-color: #5b6ceb;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}

.price__card-top-symbol {
    font-weight: bold;
    font-size: 32px;
}

.price__card-top-text {
    font-weight: bold;
    font-size: 18px;

    span {
        font-size: 67px;
        font-weight: bold;
    }
}

.price__card-center {
    p {
        font-size: 18px;
        margin-top: 40px;
        text-align: center;
        color: #555;
        position: relative;
    }

    p:nth-child(1)::after,
    p:nth-child(2)::after {
        content: "";
        width: 100px;
        height: 1px;
        background-color: #d7d7d7;
        position: absolute;
        top: 30px;
        left: 20%;
    }
}

.price__card-btn {
    margin-top: 40px;
    display: inline-block;
    text-align: center;
    padding: 20px 50px;
    background-color: #5a6cea;
    border-radius: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #7780c4;
    }
}

@media (min-width:768px) {
    .price__container {
        display: flex;
        flex-direction: row;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .price__card {
        width: 47.7%;
    }

    .price__card:nth-child(3) {
        align-self: center;
    }
}

@media (min-width:1024px) {
    .price__card {
        width: 31%;
    }

    .price__container {
        padding: 0 15px;
    }

    .price {

        padding-bottom: 100px;

    }
}

// ===================================
.footer {
    padding-top: 30px;
    background-color: #5a6cea;
    color: #fff;
}

.footer-top {
    display: flex;
    flex-direction: column;
}

.column-left {}

.footer-left-title {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
}

.footer-text {
    font-size: 14px;
    margin-bottom: 20px;
}

.footer-icons {
    display: flex;
    order: 10;
    gap: 15px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.column-right {}

.contacts-info {}

.contact-first {
    padding-left: 3px;
    gap: 16px;
}

.contact {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.contact-text {}

.footer-bottom {
    background-color: #5363d8;
    font-size: 16px;
    color: #b7bffc;
    text-align: center;
    padding: 25px 0;
}

@media (min-width:768px) {
    .footer {
        padding-top: 100px;
    }

    .footer-text {
        font-size: 14px;
        margin-bottom: 60px;
    }

    .footer-text {
        font-size: 14px;
        line-height: 150%;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .footer-left-title {
        margin-bottom: 55px;
    }

    .contacts-info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .contact {
        flex: 1 1 50%;
    }

    .contact-first {
        gap: 15px;
    }

    .contact-third {
        p {
            line-height: 150%;
        }

        img {
            height: 21px;
        }
    }

    .footer-top {
        padding-bottom: 100px;
    }
}

@media (min-width:1024px) {
    .footer-bottom {

        padding: 40px 0;
    }

    .footer-top {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .column-left {
        flex: 0 1 40%;
    }

    .column-right {
        flex: 0 1 50%;
    }

    .footer-icons {
        margin-top: 70px;
    }

    .contacts-info {
        display: flex;
        row-gap: 20px;
        column-gap: 20px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .contact {
        flex: 0 1 45%;
    }
}

address {
    font-style: normal;
}